<div class='fixed inset-0'>
  <div class='px-8 h-screen flex flex-col justify-center items-center'>
    <h1 class="text-4xl tracking-tighter font-semibold">
      kaféem tím
    </h1>
    <%= form_with url: session_url, class: "mt-6 space-y-4" do |f| %>
      <div class='w-full'>
        <%= f.label :name, 'Prihlasovacie meno', class: 'block text-zinc-700 font-medium' %>
        <%= f.text_field :name, required: true, autofocus: true, autocomplete: :username, value: params[:name], class: 'rounded-lg mt-2 bg-zinc-100 border border-zinc-300 px-5 py-2.5 w-full focus:ring-0 focus:border-blue-300 focus:bg-zinc-50 transition duration-150' %>
      </div>

      <div class='w-full'>
        <%= f.label :password, 'Heslo', class: 'block text-zinc-700 font-medium' %>
        <%= f.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: 'rounded-lg mt-2 bg-zinc-100 border border-zinc-300 px-5 py-2.5 w-full focus:ring-0 focus:border-blue-300 focus:bg-zinc-50 transition duration-150' %>
      </div>

      <div>
        <%= f.submit 'Prihlásiť', class: 'mt-6 w-full text-center py-4 rounded-xl bg-blue-500 cursor-pointer hover:bg-blue-400 text-zinc-50 font-semibold transition' %>
      </div>
    <% end %>
  </div>
</div>