<div id='actions' class='flex justify-between items-center gap-4'>
  <% case order.state.to_sym %>
  <% when :finalized %>
    <%= button_to 'Odmietnu콘', cancel_admin_order_path(order), method: :patch, form_class: 'w-full', class: 'w-full py-3 bg-rose-500 hover:bg-rose-300 text-rose-50 rounded-xl font-medium text-lg text-center' %>
    <%= button_to 'Prija콘', receive_admin_order_path(order), method: :patch, form_class: 'w-full', class: 'w-full py-3 bg-blue-500 hover:bg-blue-300 text-blue-50 rounded-xl font-medium text-lg text-center' %>
  <% when :received %>
    <%= button_to cancel_admin_order_path(order), method: :patch, class: 'px-5 py-3 bg-rose-500 hover:bg-rose-300 text-rose-50 rounded-xl font-medium text-lg text-center' do %>
      <%= icon 'fa-solid', 'xmark' %>
    <% end %>
    <%= button_to 'Pripraven치!', prepare_admin_order_path(order), method: :patch, form_class: 'w-full', class: 'w-full py-3 bg-indigo-500 hover:bg-indigo-300 text-indigo-50 rounded-xl font-medium text-lg text-center' %>
  <% when :prepared %>
    <%= button_to 'Odovzda콘', deliver_admin_order_path(order), method: :patch, form_class: 'w-full', class: 'w-full  py-3 bg-green-400 hover:bg-green-300 text-green-50 rounded-xl font-medium text-lg text-center' %>
  <% end %>
</div>