<div id='<%= dom_id order %>' class='bg-white shadow-lg shadow-zinc-200 border border-zinc-200 rounded-xl p-4'>
  <div class='flex justify-between items-center relative'>
    <h3 class='text-2xl font-medium'>#<%= order.id %></h3>
    <%= render 'admin/orders/badge', order: %>
    <% if order.prepared? %>
      <div class='absolute top-0 left-0 right-0 text-center text-2xl font-light'>
        <%= order.code %>
      </div>
    <% end %>
  </div>
  <div class='text-zinc-600 mt-4 mb-2'>
    <ul class='list-disc pl-4'>
      <% order.order_items.each do |order_item| %>
        <li><%= order_item.amount %>x <%= order_item.product.title %></li>
      <% end %>
    </ul>
  </div>
  <% if order.note.present? %>
    <div class='pt-2 border-t border-zinc-200'>
      <strong class='font-semibold'>Poznámka:</strong>
      <%= order.note %>
    </div>
  <% end %>
  <div class='mt-4'>
    <%= render 'admin/orders/actions', order: %>
  </div>
</div>