<%= form_with model: order, data: { controller: 'auto-submit total-sum' } do |f| %>
  <div class='divide-y divide-zinc-200'>
    <% @order_items.each do |order_item| %>
      <%= render order_item, f: %>
    <% end %>
    <div class='py-4 border-b border-zinc-200'>
      <%= f.text_area :note, rows: 3, placeholder: 'Priestor pre poznámku...', data: { action: 'auto-submit#submit' }, class: 'placeholder-zinc-400 rounded-lg mt-2 bg-zinc-100 border border-zinc-300 px-5 py-2.5 w-full focus:ring-0 focus:border-blue-300 focus:bg-zinc-50 transition duration-150' %>
    </div>
    <div class='py-4 flex justify-between items-center text-lg font-semibold'>
      <div>
        Celkom
      </div>
      <div id='order-total-sum'>
        <%= humanized_price @order.total_sum %>
      </div>
    </div>
  </div>
  <%= alert %>
<% end %>

<div class='pt-4 flex justify-center'>
  <%= render 'slide_to_finalize', order_id: @order.id %>
</div>