<% content_for :title, 'kaféem' %>

<div id='order-item-modal'>
</div>

<div data-controller='order-item-modal' class='<%= @order ? 'mb-32' : 'mb-16' %>'>
  <% @categories.each do |category| %>
    <div class='bg-zinc-50/90 z-10 text-xl font-semibold flex justify-between py-3 sticky top-16 backdrop-blur'>
      <%= category.title %>
      <%= icon 'fa-solid', 'chevron-down' %>
    </div>
    <div class='divide-y divide-zinc-200'>
      <% category.products.order(:title).each do |product| %>
        <div class='cursor-pointer' data-action='click->order-item-modal#newOrder' data-product-id='<%= product.id %>'>
          <%= render 'admin/products/product', product: product %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if @orders_in_progress.size == 1 %>
  <%= link_to @orders_in_progress.first, class: 'z-40 text-lg font-medium text-green-50 text-center fixed bottom-24 left-4 right-4 shadow-md px-5 py-4 rounded-xl bg-green-500 hover:bg-green-300 shadow-green-600/30' do %>
    Zobraziť objednávku
  <% end %>
<% elsif @orders_in_progress.size > 1 %>
  <%= link_to orders_path, class: 'z-40 text-lg font-medium text-green-50 text-center fixed bottom-24 left-4 right-4 shadow-md px-5 py-4 rounded-xl bg-green-500 hover:bg-green-300 shadow-green-600/30' do %>
    Zobraziť objednávky (<%= @orders_in_progress.size %>)
  <% end %>
<% end %>