<% content_for :title, 'e-žetóny' %>
  
<div data-controller='qr-generator' data-qr-generator-cid-value='<%= current_customer.id %>'>
  <%= form_with data: { action: 'qr-generator#generate:prevent'} do |f| %>
    <%= f.label :eur, 'Koľko eur si chceš vymeniť?', class: 'block text-zinc-900 font-medium' %>
    <%= f.number_field :eur, autofocus: true, required: true, min: 1, step: 1, inputmode: :numberic, data: { qr_generator_target: 'eur' }, class: 'rounded-lg mt-2 bg-zinc-100 border border-zinc-300 px-5 py-2.5 w-full focus:ring-0 focus:border-blue-300 focus:bg-zinc-50 transition duration-150' %>
    <%= f.submit 'Generuj QR kód', class: 'mt-6 w-full text-center py-4 rounded-xl bg-blue-500 cursor-pointer text-zinc-50 font-semibold' %>
  <% end %>

  <div class='flex mt-6 justify-center'>
    <canvas data-qr-generator-target='qrCode' class='hidden'></canvas>
  </div>

  <div>
    <div class='mt-3 text-center text-zinc-600'>
      Vygenerovaný QR kód ukáž nášmu tímu na stanovisku so žetónmi.
      My od teba vezmeme hotovosť, naskenujeme tvoj kód a dobijeme ti <span class='text-nowrap'>e-žetóny</span>.
    </div>
  </div>
</div>