<% content_for :back do %>
  <%= link_to categories_path, class: 'text-sky-500' do %>
    &lt; Späť
  <% end %>
<% end %>
<% content_for :title, @category.title %>
<% content_for :action do %>
  <%= link_to edit_category_path(@category), class: 'text-xl transition text-sky-500 hover:text-sky-200' do %>
    <%= icon('fa-solid', 'pen-to-square') %>
  <% end %>
  <%= link_to new_product_path(category_id: @category.id), class: 'inline-block ml-4 text-xl transition text-sky-500 hover:text-sky-200' do %>
    <%= icon('fa-solid', 'plus') %>
  <% end %>
<% end %>

<% if @category.products.none? %>
  <%= link_to new_product_path(category_id: @category.id) do %>
    <div class='p-4 text-zinc-500 border border-dashed border-zinc-600 rounded-xl text-center'>
      V tejto kategórii zatiaľ nie je žiadny produkt.
      <br />
      Klikni sem, aby si pridal prvý.
    </div>
  <% end %>
<% end %>

<div class='divide-y divide-zinc-200'>
  <%= render partial: 'admin/products/product', collection: @category.products %>
</div>