<div class='py-4 flex justify-between items-start'>  
  <div>
    <h3 class='text-lg font-semibold testy'>
      <%= product.title %>
    </h3>
    <div class='mt-1 font-medium text-zinc-400'>
      <%= humanized_price product.price %>
    </div>
  </div>
  <div class='rounded-xl overflow-hidden w-24 h-24 relative'>
    <div class='-z-10 absolute inset-0'>
      <div class='bg-zinc-200 w-24 h-24 flex justify-center items-center animate-pulse'>
        <%= icon 'fa-solid', 'image', class: 'text-3xl text-zinc-500' %>
      </div>
    </div>
    <% if product.image.attached? %>
      <%= image_tag product.image.variant(:thumbnail) %>
    <% else %>
      <div class='bg-zinc-200 w-24 h-24 flex justify-center items-center'>
        <%= icon 'fa-solid', 'image', class: 'text-3xl text-zinc-500' %>
      </div>
    <% end %>
  </div>
</div>