<% content_for :back do %>
  <%= link_to @product.category, class: 'text-sky-500' do %>
    &lt; Späť
  <% end %>
<% end %>
<% content_for :title, @product.title %>
<% content_for :action do %>
  <%= link_to edit_product_path(@product), class: 'text-xl transition text-sky-500 hover:text-sky-200' do %>
    <%= icon('fa-solid', 'pen-to-square') %>
  <% end %>
<% end %>

<div class='text-lg'>
  <div class='pb-4 flex justify-between items-center'>
    <div class='font-semibold'>
      Je produkt dostupný?
    </div>
    <div>
      <%= render_switch '', id: "ruby_on_rails", name: "language", action_on_toggle: '' %>
    </div>
  </div>
  <div class='bg-zinc-200/80 h-0.5 w-full rounded-lg'></div>
  <div class='py-4'>
    <div class='font-semibold'>
      Cena
    </div>
    <div>
      <%= @product.price %> žetónov
    </div>
  </div>
  <div class='py-4'>
    <div class='font-semibold'>
      Fotografia
    </div>
    <div class='mt-1 rounded-lg overflow-hidden'>
      <% if @product.image.attached? %>  
        <%= image_tag @product.image %>
      <% end %>
    </div>
  </div>
</div>