<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kaféem admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="view-transition" content="same-origin" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= image_url 'apple-icon-admin.png' %>" type="image/png">
    <link rel="apple-touch-icon" href="<%= image_url 'apple-icon-admin.png' %>">
    <%= render 'layouts/splash_screens' %>

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-zinc-50 text-zinc-800'>
    <% if authenticated? %>
      <%= render 'layouts/admin/header' %>
    <% end %>
    <%= render 'layouts/shared/alert' %>
    <%= render 'layouts/shared/notice' %>
    <main class="container mt-16 mx-auto p-5">
      <%= yield %>
    </main>
    <% if authenticated? %>
      <%= render 'layouts/admin/menu' %>
    <% end %>
  </body>
</html>
